#paquetes {
  background:#f7f7f5 ;
  padding: 20px 0 40px 0;
}

.title h3{
  text-align: center;
  font-size: 36px;
  font-weight: 600;
  color: #3f78c3;
  margin-top: 5px;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;

}
  #paquetes .link {
    padding: 10px 20px;
    border: 3px solid #1aa1d6;
    border-radius: 30px;
  }
  
  #paquetes .link:hover {
    border: 3px solid #3f78c3;
    color: #3f78c3;
  }
  
  #paquetes .box {
    padding: 30px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    margin: 0 10px 40px 10px;
    background: #fff;
    box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.1);
    text-align: left;
  }
  

  
  #paquetes .icon {
    margin: 0 auto 15px auto;
    padding-top: 12px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    
  }
  
  
  #paquetes .title {
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 24px;
  }
  
  #paquetes .title a {
    color: #3f78c3;
  }
  

  #paquetes .description {
    font-size: 14px;
    line-height: 28px;
    margin-bottom: 0;
    text-align: left;
  }
  
#paquetes .box img {
  width: 120px;
  display:block;
  margin:auto;
  margin-bottom: 10px;
}