#somos {
  background: #F6F3F3;
  padding: 20px 0 40px 0;
}


#somos h3{
  text-align: center;
  font-size: 36px;
  font-weight: 600;
  color: #3f78c3;
  margin-bottom: 40px;
}


#somos .somos-content .somos-box {
  margin: 0 0 40px 0;
  padding: 0;
  transition: 0.3s ease-in-out;
}
  

#somos .somos-content .somos-box i {
  font-size: 36px;
  float: left;
}
  
  
#somos .somos-content .somos-box h4 {
  font-size: 24px;
  font-weight: 600;
  margin-left: 56px;
  color: #3f78c3;
  margin-bottom: 5px;
}
  

#somos .somos-content .somos-box p {
  font-size: 16px;
  margin-left: 56px;
  color: #3f78c3;
}

#somos .somos-content .somos-box img {
  width: 40px; 
  margin-top: 7px;
}



